#page{
    background: white;
}
#banner-mobile{
    display: none;
}
.header_nav_1.dark {
	background: #fff;
}
.logo{
	display: inline-flex;
	margin: 5px 0;
}
.logo.vivo{
	padding-right: 15px;
	margin-bottom: 6px;
}
.pix_header_button{
	background-color: rgb(41, 145, 214)!important;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: none;
	background-size: auto;
	background-attachment: scroll;
}
.navbar-lg .navbar-nav > li > a, .navbar-lg .navbar-nav > li > .text_span{
	padding-top: 32px!important;
}
.construction .join_us_section{
    background: url(images/uploads/image-topo.png) no-repeat center;
    background-color: rgb(51, 51, 51);
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: none;
    border-color: rgb(68, 68, 68);
    background-size: cover;
}
.pix_form_area .substyle{
	background-image: none;
	padding-top: 10px;
	padding-bottom: 0px;
	box-shadow: none;
    background-color: rgb(6, 44, 82)!important;
    border-color: rgb(68, 68, 68);
    background-size: auto;
    background-attachment: scroll;
    background-repeat: no-repeat;
    max-width: 400px;
    margin-left: auto;
    /*display: none;*/
}
.pixfort_gym_13 .title-style{
	color: #ffa900;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
	padding: 10px 0px;
	font-weight: 900;
}
.pixfort_gym_13 .title-style .number-tel{
	color: #fff;
	font-size: 35px;
	font-weight: 900;
	margin: 10px 0px 15px 0px;
}
.pixfort_gym_13 .title-style .text-ligamos{
	color: #ffa900;
	font-size: 23px;
	font-weight: 300;
	margin-bottom: 0px;
	letter-spacing: -1px;
}
.construction .send_btn button{
	color: #fff;
	font-size: 22px;
	background-color: #ffa900;
	font-family: inherit;
	width: 100%;
}
.pixfort_corporate_2 .gstyle{
	width: 100%;
	margin-bottom: 50px;
	margin-left: 0px;
}
#container{
	max-width: 1170px!important;
	width: 100%!important;
}
#coluna-maxima{
	width: 100%!important;
}
.caixa-preco{
	position: relative;
    left: 15px;
    color: #333!important;
    font-size: 26px;
    line-height: 40px;
    width: 100%;
    margin-top: 25px;
    display: block;
    margin-bottom: 0px;
}
.caixa-preco-grande{
	font-family: 'officina serif std bold',sans-serif;
    font-size: 50px;
    line-height: 44px;
}
.caixa-preco-centavos{
	position: relative;
    bottom: 20px;
    font-size: 20px;
    right: 6px;
}
.caixa-preco-info{
	position: relative;
    right: 41px;
    font-size: 13px;
}
.w-clearfix:after, .w-clearfix:before{
	content: " ";
    display: table;
}
.caixa{
	display: block;
    width: 100%;
    min-width: 220px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.caixa-header{
	padding: 26px 10px 12px;
    background-color: #fff!important;
    text-align: center;
}
.caixa-h3{
	margin-bottom: 0;
    color: #acacac!important;
    font-size: 29px;
    line-height: 33px;
    font-weight: 900;
}
.plus-icon{
	display: block;
    margin: 5px auto 10px;
    color: #acacac!important;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
}
.caixa-h3.h3-menor{
	padding-bottom: 10px;
    font-size: 29px;
    line-height: 26px;
}
.caixa-detalhes{
	margin-bottom: 25px;
    color: #acacac!important;
    font-size: 10px;
    line-height: 12px;
}
.btn.custom.centralize.caixa-btn{
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 45px;
    line-height: 19px;
}
.btn.custom.centralize{
	display: inline-block;
    float: none;
}
.btn.custom{
	padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(41, 145, 214)!important;
}
.btn{
	padding: 15px 18px;
    font-size: 19px;
    float: left;
    clear: both;
    border-radius: 5px;    
}
.w-button{
	display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.btn.custom:hover{
	background-color: #461e5f;
	color: #fff;
}
.caixa-content.bg-escuro{
	background-color: #d6d6d6;
    text-align: center;
}
.caixa-content{
	padding: 40px 10px 10px;
	width: 100%;
    float: left;
}
.caixa-content-inside.internet{
	min-height: 130px;
}
.caixa-content-inside{
	width: 100%;
    float: left;
}
.internet-line{
	background-image: url(../../images/uploads/line-internet.png);
	background-position: 50% 1px;
}
.internet-line, .telefone-line{
	width: 100%;
    height: 14px;
    background-repeat: no-repeat;
}
.lista{
	padding-left: 0;
    list-style-type: none;
    clear: both;
    text-align: left;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 25px;
    display: block;
}
.lista-item.internet-icon{
	background-image: url(../../images/uploads/e_internet.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.lista-item{
	height: 22px;
    margin-bottom: 5px;
    padding-left: 35px;
    color: #6b6b6b;
    font-size: 15px;
    line-height: 25px;
    clear: both;
    text-align: left;
    float: left;
}
.lista-item.wifi-icon{
	background-image: url(../../images/uploads/modem.png);
	background-position: 0 50%;
    background-repeat: no-repeat;
}
.caixa-content-inside.telefone{
	min-height: 200px;
}
.telefone{
	display: inline-block;
    clear: none;
    text-align: center;
}
.telefone-line{
	float: left;
    background-image: url(../../images/uploads/telefone-line.png);
    background-position: 50% 0;
    width: 100%;
    height: 14px;
    background-repeat: no-repeat;
}
.lista-item.telefone-icon{
	margin-bottom: 21px;
    background-image: url(../../images/uploads/telefone.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    line-height: 25px;
}
.caixa-content-inside.tv{
	position: relative;
    min-height: 400px;
    padding-top: 0;
    padding-bottom: 0;
}
.tv-line{
	width: 100%;
    height: 14px;
    float: left;
    background-image: url(../../images/uploads/tv-line.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.lista.lista_da_tv._1, .lista.lista_da_tv._3, .lista.lista_da_tv._4{
	background-image: url(../../images/uploads/vivo_grade_canais.png);
}
.lista.lista_da_tv{
	margin-top: 0;
    padding-left: 30px;
    background-image: url(../../images/uploads/vivo_grade_canais.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.lista-item.lista-item-tv{
	margin-bottom: 10px;
    padding-left: 0;
    font-size: 14px;
    line-height: 35px;
}
.button-subs{
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgb(41, 145, 214)!important;
    font-family: inherit;
}
.cards-combos.flag-top{
    margin-top:20px
}
.content-card{
    border-width:0 1px;
    padding-bottom:25px
}
.content-card-full{
    border-width:0 1px 1px;
    border-radius:0 0 4px 4px;
    box-shadow:#e3e3e3 0 5px 0 0;
    overflow:hidden
}
.content-card-full:before{
    background:linear-gradient(linear-gradient(to bottom,#fff 20%,#f1f2f3),);
    background-image:linear-gradient(linear-gradient(to bottom,#fff 20%,#f1f2f3),);
    content:"";
    width:100%;
    height:100px;
    position:absolute;
    bottom:-30px;
    left:0;
    z-index:0
}
.cards-combos.card-4p .content-card-full:before,.cards-combos.card-lp .content-card-full:before,.content-card-full.offer-exclusive:before{
    bottom:0
}
.content-card-full.offer-exclusive{
    overflow:visible
}
.content-card-full .prod-offer .wrap-small{
    background:#e5e5e7
}
.content-card-full .prod-offer .wrap-content-medium,.wrap-small{
    background:#f1f2f3
}
.content-card-full .btn-show-infos:after{
    content:'';
    border-top:1px solid #e3e3e3;
    position:absolute;
    top:-1px;
    left:0;
    width:100%;
    visibility:visible
}
.content-card-full .btn-show-infos .btn-toggle{
    position:relative;
    top:0
}
.content-card-full .btn-show-infos .btn-toggle:after{
    display:none
}
.ico-card{
    height:32px;
    width:32px;
    fill:#609
}
.wrap-content-card{
    width:100%;
    display:table;
    border-top:1px solid #fff;
    border-bottom:1px solid #e3e3e3;
    position:relative
}
.wrap-content-card:first-child{
    border-top:none
}
.wrap-content-card .offer-flag{
    display:none
}
.wrap-content-card .offer-price{
    border-top:1px solid #e3e3e3;
    margin-top:10px;
    padding-top:10px;
    display:block;
    width:100%;
    float:left
}
.wrap-content-card .offer-price .wrapper-price{
    text-align:left
}
.wrap-content-card .offer-price .wrapper-price .wrap-value{
    margin:0;
    display:block
}
.wrap-content-card .offer-price .wrapper-price .wrap-small-price{
    color:#609;
    font-family:OfficinaBold
}
.wrap-small{
    border-right:1px solid #fff;
    width:24%;
    text-align:center;
    display:table-cell;
    vertical-align:middle
}
.wrap-small.wrap-small-featured{
    background:#e3e3e3
}
.title-wrap-small{
    color:#666;
    margin:0 auto;
    line-height:1;
    padding:5px;
    text-align:center
}
.btn-header{
    float:right;
    margin-top:5px;
    color:#fff;
}
.btn-header:visited{
    color:#fff;
}
.wrap-content-medium{
    width:100%;
    position:relative;
    min-height:110px;
    overflow:hidden;
    display:flex;
    -ms-flex-line-pack:center;
    align-content:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap
}
.wrap-content-medium.active{
    height:450px
}
.wrap-content-medium.wrap-content-medium-featured{
    background:#f1f2f3;
    padding:0 10px
}
.wrap-content-medium .card-content.centralize{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-line-pack:center;
    align-content:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap
}
.wrap-channel-extra{
    float:left;
    width:100%;
    margin-top:10px
}
.card-content{
    width:100%;
    padding:10px
}
.card-content.label-featured{
    background-color:#f1f2f3;
    padding:5px;
    margin-bottom:15px
}
.card-content.label-featured-white{
    padding:0;
    margin-bottom:15px
}
.card-content .wrap-infos-card{
    width:100%;
    float:left;
    margin-top:0;
    /*display: none;*/
}
.card-content .wrap-infos-card .list-check{
    margin-top:20px;
    margin-bottom:0
}
.card-content .wrap-infos-card .wrap-bundle-svas{
    width:100%;
    float:left;
    margin-top:10px
}
.card-content .wrap-infos-card .wrap-bundle-svas.compact,.comb-horizontal .box-observation,.wrap-bundle-svas .btn-card{
    margin-top:0
}
.wrap-bundle-svas .qnt-apps{
    display:block;
    color:#333;
    font-size:1.25rem;
    line-height:2.2rem;
    font-family:OfficinaBold;
    margin-bottom:0
}
.wrap-bundle-svas .qnt-apps.nobtn{
    padding-bottom:1em;
    font-size:1.4rem;
    line-height:1.6rem;
    font-family:OfficinaBook;
    color:#999
}
.wrap-bundle-svas .icons-svas{
    display:block;
    float:left
}
.wrap-bundle-svas .icons-svas .sva-icon{
    display:block;
    float:left;
    width:28px;
    height:28px;
    margin-right:4px;
    background-color:#609;
    border-radius:3px;
    overflow:hidden
}
.btn-card,.btn-channel{
    float:right
}
.cards-combos.card-4p .content-card-full,.cards-combos.card-lp .content-card-full,.comb-horizontal .wrap-content-medium{
    overflow:inherit
}
.wrap-bundle-svas .icons-svas .sva-icon img{
    display:block
}
.wrap-bundle-svas .icons-svas .sva-icon.count{
    padding:4px 0;
    font-size:1.8rem;
    line-height:2rem;
    font-family:OfficinaBold;
    font-style:normal;
    color:#fff;
    text-align:center
}
.wrap-bundle-svas .icons-svas .sva-icon:last-child{
    margin-right:0
}
.wrap-bundle-svas .icons-svas.all-icons .sva-icon{
    margin-bottom:4px
}
.wrap-bundle-svas.compact .qnt-apps{
    font-size:1.2rem;
    line-height:2.2rem
}
.wrap-bundle-svas.compact .btn-card{
    margin-top:0;
    margin-right:4px
}
.wrap-bundle-svas.compact .icons-svas .sva-icon{
    width:20px;
    height:20px;
    margin-right:2px;
    border-radius:3px
}
.wrap-bundle-svas.compact .icons-svas .sva-icon.count{
    padding:2px;
    font-size:1.2rem;
    line-height:1.4rem
}
.comb-horizontal .card-content.centralize{
    top:0
}
.comb-horizontal .wrap-infos-card{
    display:none
}
.plan-name{
    color:#999
}
.btn-card{
    margin-top:15px
}
.tag-featured{
    color:#609
}
.wrap-info-card{
    float:left
}
.wrap-info-card .plan-name{
    color:#333;
    font-size:1.2rem;
    line-height:1.92rem;
    font-family:OfficinaBold;
    margin-bottom:0
}
.wrap-info-card .plan-last-name{
    color:#609
}
.wrap-info-card .plan-last-name.old{
    text-decoration:line-through;
    color:#999
}
.wrap-info-card .channel-hd,.wrap-info-card .extra-information,.wrap-info-card .wifi-free{
    color:#609
}
.wrap-info-card .info-4p{
    margin:7px 0
}
.wrap-info-card .info-4p span{
    font-size:1.6rem;
    color:#609;
    display:block
}
.wrap-info-card .info-4p span.old{
    text-decoration:line-through;
    color:#999
}
.content-box-007 .box-content .link-box a:hover,.content-box-007 .box-content .link-box:hover a,.content-box-007.block-links .link-block.active .link-box a,.content-box-007.block-links .link-block.hover .link-box a,.content-box-007.block-links .link-block:active .link-box a,.content-box-007.block-links .link-block:hover .link-box a{
    text-decoration:underline
}
.wrap-info-card .info-card-price{
    margin-top:6px;
    color:#333
}
.wrap-info-card .info-card-price .currency{
    font-size:1.4rem;
    line-height:1.6rem
}
.wrap-info-card .info-card-price .price{
    font-size:1.6rem;
    line-height:1.8rem
}
.wrap-info-card .info-card-price .time{
    font-size:1.2rem;
    line-height:1.4rem
}
.more-info-combo{
    width:100%;
    border-top:1px solid #d8d8d8;
    display:block;
    float:left;
    padding:10px 0 10px 25px;
    margin-top:10px;
    position:relative
}
.more-info-combo:before{
    position:absolute;
    content:'';
    left:0;
    top:0;
    background:#fff;
    width:100%;
    height:1px
}
.more-info-combo .label-free{
    position:absolute;
    top:20px;
    left:-10px;
    font-size:1.2rem;
    line-height:1.2rem;
    font-family:OfficinaBold;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
    padding:3px 5px;
    background:#609;
    color:#fff;
    border-radius:4px;
    display:block
}
.more-info-combo .info-movel{
    font-size:1.6rem;
    color:#609
}
.more-info-combo .info-movel span,.more-info-combo .info-movel strong{
    position:relative;
    display:block;
    margin-top:2px;
    padding-left:16px;
    font-family:OfficinaBold
}
.more-info-combo .info-movel span:before,.more-info-combo .info-movel strong:before{
    position:absolute;
    content:'+';
    left:0;
    top:2px;
    background:#609;
    border-radius:50%;
    color:#fff;
    font-size:11px;
    width:11px;
    height:11px;
    padding-left:2.7px;
    line-height:.9
}
.advantages{
    padding-bottom:15px
}
.toggleServ{
    position:relative
}
.wrap-popup{
    border-radius:3px;
    float:left;
    width:100%;
    min-height:1px;
    border:1px solid #ccc;
    background:#fff;
    bottom:12px;
    box-shadow:0 1px 3px 2px rgba(0,0,0,.15);
    display:none;
    left:0;
    padding:28px 40px;
    position:absolute;
    right:15px;
    z-index:10
}
.wrap-popup .title-popup{
    margin-bottom:10px
}
.close-popup{
    background:url(/assets/img/close.png) 0 -13px;
    display:block;
    height:11px;
    outline:0;
    position:absolute;
    right:12px;
    text-indent:-9999px;
    top:12px;
    width:12px;
    cursor:pointer
}
.close-popup:hover{
    background-position:0 0
}
.wrap-featured{
    width:100%;
    margin-top:10px;
    margin-bottom:0;
    float:left
}
.wrap-featured .featured{
    font-family:OfficinaBold;
    float:left
}
.wrap-featured .featured-name{
    color:#333;
    float:left
}
.wrap-featured .ico-featured{
    float:left;
    margin:0 0 0 10px
}
.wrap-featured .featured-small{
    color:#000;
    float:left;
    padding-left:10px
}
.box-observation{
    position:relative;
    margin-top:25px;
    padding:0 5px 10px
}
.small-legal-text{
    margin-top:0
}
.comparator-comb{
    border-width:1px 1px 5px;
    border-style:solid;
    border-color:#e3e3e3;
    position:relative;
    bottom:2px;
    left:0;
    border-radius:0 0 5px 5px
}
.comparator-comb input[type=checkbox]{
    display:none
}
.comparator-comb .label-comb{
    width:100%;
    height:40px;
    cursor:pointer;
    padding:12px 0 0 40px;
    color:#333;
    background-color:#f1f2f3
}
.comparator-comb .label-comb:before{
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
    border-radius:50%;
    position:absolute;
    top:12px;
    left:15px;
    background-color:#fff;
    content:"";
    width:16px;
    height:16px
}
.list.border-bottom .list-item {
    margin-top: .625em;
    padding-bottom: .625em;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #e3e3e3;
    text-align: left;
    font-size: 12px;
}
.list.border-bottom .list-item:first-child {
    margin-top: 0;
}
.list-check .list-item {
    position: relative;
    padding-left: 1.25em;
    padding-bottom: .321em;
}
.ofertas-session{
    padding-top: 50px;
    background: #fff;
}
.title-ofertas{
    font-family: OfficinaBold;
    font-size: 30px;
    color: #609;
    text-align: center;
}
.owl-nav{
    display: none;
}
.owl-theme .owl-dots .owl-dot span{
    background: #eee;
    width: 15px;
    height: 15px
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #609;
    width: 15px;
    height: 15px
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: inherit!important;
}
.pixfort_gym_13 #contact_form{
    padding-bottom: 30px; 
}
.modal-body{
    background-color: rgb(6, 44, 82)!important; 
}
.title-modal-number{
    color: #ffa900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
    font-weight: 900;
    line-height: 68%;
}
.title-modal-number .number-tel {
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    margin: 10px 0px 15px 0px;
}
.title-modal-number .text-ligamos {
    color: #ffa900;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 0px;
    letter-spacing: -1px;
    line-height: 120%;
}
.form-modal{
    width: 100%;
    height: 100%;
}
.pix_text-modal{
    background: #fff!important;
    padding: 12px 10px!important;
    border: 1px solid #fff!important;
    border-radius: 3px!important;
    outline: none!important;
    color: #000!important;
    font-size: 15px!important;
    position: relative!important;
    width: 100%!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    padding-left: 10px!important;
}
.button-modal{
    color: #fff;
    font-size: 22px;
    background-color: #ffa900;
    font-family: inherit;
    width: 100%;
    background: #f83;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    border: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 3px;
    font-weight: 400;
}
.button-modal:hover{
   background: #f83;
   color: #fff;
   padding: 10px 40px;
   border: none;
}
.modal-body {
   margin: 0px!important; 
}
.fechar-modal{
    float: right;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgb(41, 145, 214)!important;
    color: #fff!important;

}
.modal-header{
   background-color: rgb(6, 44, 82)!important; 
   border-bottom: none;
   display: none; 
}
.modal-footer{
    border-top: none;
    background-color: rgb(6, 44, 82)!important;    
}
.navbar-lg .navbar-toggle{
    outline: none;
    position: relative;
    float: right;
    margin-top: -1px;
    margin-right: -1px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
footer{
    width: 100%;
    height: auto;
    background: #333333;
}
footer figure{
    margin-top: 20px;
    margin-bottom: 10px;
}
.direitos{
    border-top: solid 1px #acacac;
    font-size: 14px;
    color: #ccc;
    /*font-family: 'OfficinaBold';*/
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
}
.endereco{
    /*font-family: 'OfficinaBold';*/
    color: #ccc;
    font-size: 15px;
    margin-top: 10px;
}
.contatos{
    margin-top: 25px;
}
.contatos b{
 font-family: 'OfficinaBold';
 color: #ccc;
 font-size: 30px;   
}
.pixfort_subscribe_12 #contact_form input, .pixfort_subscribe_12 #contact_form select, .pixfort_subscribe_12 #contact_form textarea, .pixfort_subscribe_12 #contact_form input:focus, .pixfort_subscribe_12 #contact_form select:focus, .pixfort_subscribe_12 #contact_form textarea:focus {
 width: 70%;
 background: #eee;
 float: left; 
 border-radius: 3px; 
 color: #888;
 font-weight: 400; 
 font-size: 16px; 
 height: 40px;
 display: inline-block;
 position: initial; 
 padding: 5px; 
}
.navbar-embossed > .navbar-collapse {
    border-radius: 6px;
    -webkit-box-shadow: none; 
    box-shadow: none;
}
.oficcina-bold{
    font-family: OfficinaBold;
}
@media screen and (max-width: 844px){
    #banner-mobile{
        display: block;
    }
    .banner-mobile{
        background: url(images/uploads/image-topo.png) no-repeat;
        background-size: cover; 
        display: block;
        padding-bottom: 400px;
        background-position: left 23% bottom 50%;
    }
    .construction .join_us_section{
        background: none;
        padding: 0px;
        background-color: transparent;
        border: none;
    }
    .pix_form_area .substyle{
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1049px){
    .construction .join_us_section{
        background-position: left 42% bottom 50%;
    }
}
@media screen and (max-width: 662px){
    .banner-mobile{
        background-position: left 30% bottom 50%;
    }
    .logo{
        max-height: 50px;
    }
    .logo.vivo{
        margin-top: 15px;
    }
}
@media screen and (max-width: 520px){
    .logo{
        max-height: 45px;
    }
    .logo.vivo{
        margin-top: 15px;
    }
    .banner-mobile{
        background-position: left 33% bottom 50%;
    }
    .navbar-lg .navbar-toggle{
        margin-top: -12px;
    }
}
@media screen and (max-width: 450px){
    .pix_text.input-subs{
        width: 100%!important;
    }
    .subscribe_btn.pix_text.button-subs{
        width: 100%;
    }
}
@media screen and (max-width: 385px){
    .banner-mobile{
        background-position: left 32% bottom 50%;
    }
   .logo{
        max-height: 43px;       
        margin-top: 10px;
    }

}